*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.bg-main {
  background-color: $main-blue;
}
h1 {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}
main {
  &:hover > .barsection {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.hover-text-blue {
    &:hover {
      color: rgba(59, 130, 246)!important;
    }
    &:visited {
      color: black;
    }
}
.transition_top {
  animation: transitiontopY 1s ease-out 0s both;
}
@keyframes transitiontopY {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
iframe {
  width: 90%;
  height: 100%;
  margin: auto;
}
.bg-lightgreen {
  background-color: #9DC88D;
}
.bg-deepred {
  background-color: #932432;
}
.bg-blueminded {
  background-color: #004E7C;
}
.bg-gray-main {
  background-color: #111827;
}
// ANIMATION SCROLLING
.mouse_exemple {
  animation: mouseexemple 1.5s ease-in-out 0s infinite normal both;
  left: 43%;
  right: 43%;
  @media (max-width: 900px) {
    animation: mouseexemple-mobile 1.5s ease-in 0s infinite normal both;
  }
}
@keyframes mouseexemple {
  0% {
    height: 0.25rem;
    transform-origin: top;
  }
  33% {
    transform-origin: bottom;
    height: 0.8rem;
  }
  66% {
    transform-origin: bottom;
    height: 0.8rem;
    transform: scaleY(0.3);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mouseexemple-mobile {
  0% {
    width: 0.25rem;
    transform-origin: right;
  }
  33% {
    width: 0.92rem;
  }
  66% {
    transform-origin: left;
    width: 0.92rem;
    transform: scaleX(-0.3);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform-origin: left;
  }
}
.separation_mouse {
  width: 0.10rem;
  left: 48%;
  right: 48%;
}
.scrolling_phone {
  left: 45%;
  top: 30%;
  animation: scrolling_phone 1.5s ease-in-out 0s infinite normal both;
}
@keyframes scrolling_phone {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1rem);
  }
}
//