*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.bg-main {
  background-color: $main-blue;
}
h1 {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}
main {
  &:hover > .barsection {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.hover-text-blue {
    &:hover {
      color: rgba(59, 130, 246)!important;
    }
    &:visited {
      color: black;
    }
}
.transition_top {
  animation: transitiontopY 1s ease-out 0s both;
}
@keyframes transitiontopY {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
iframe {
  width: 90%;
  height: 100%;
  margin: auto;
}
.bg-lightgreen {
  background-color: #9DC88D;
}
.bg-deepred {
  background-color: #932432;
}
.bg-blueminded {
  background-color: #004E7C;
}
.bg-gray-main {
  background-color: #111827;
}