*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: $main-blue;
}
h1 {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}
main {
  &:hover > .barsection {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.hover-text-blue {
    &:hover {
      color: rgba(59, 130, 246)!important;
    }
    &:visited {
      color: black;
    }
}
.transition_top {
  animation: transitiontopY 1s ease-out 0s both;
}
@keyframes transitiontopY {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
iframe {
  width: 90%;
  height: 100%;
  margin: auto;
}

// Attelle tournante
@mixin facet {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button3d {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  
  .btn3d {
    color: white;
    font-size: 3.5rem;
    cursor: pointer;
    position: relative;
    width: $btn-width;
    height: $btn-height;
    perspective: $persp;
    & > .btn__flip {
      animation: rotate360 10s linear 0s infinite reverse both;
    }
    .btn__flip {
      @include facet; 
      transform-style: preserve-3d;
      transform-origin: bottom ($btn-height/2);
      transition: transform 5s linear;
      transform: rotateY(0deg);
      .btn__flip--off {
        transform: rotateY(0deg) translateZ($btn-height/2);
        @include facet;
      }
      .btn__flip--on {
        transform: rotateY(90deg) translateZ($btn-height/2);
        @include facet;
      }
      .btn__flip--off1 {
        transform: rotateY(180deg) translateZ($btn-height/2);
        @include facet;
      }
      .btn__flip--on1 {
        transform: rotateY(270deg) translateZ($btn-height/2);
        @include facet;
      }
    }
  }
}
@keyframes rotate360 {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
//
